@import './variables.css';

.main-home {
    padding: 2em;
    margin: 0 auto;
    max-width: 600px;
    width: 90%;
}

.main-home h1 {
    text-align: center;
    padding: 2em;
}

.forms-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 10px;
}

form input {
    background: var(--bg2);
    border-radius: 10px;
    padding: 0.5em 1em;
}

form label {
    display: block;
}

.forms-submit {
    cursor: pointer;
    display: block;
    margin: 2em auto;
    padding: .6em 1.2em;
    font-weight: bold;
    font-size: 0.9em;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

@media (max-width: 600px) {
    form input {
        font-size: 0.9em;
    }

    form label, .forms-submit {
        font-size: 1.1em;
    }
}