@import './variables.css';

.main-notas {
    padding: 2em;
    margin: 0 auto;
    max-width: 700px;
    width: 90%;
}

.main-notas h1 {
    text-align: center;
    padding: 2em;
}

.forms-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 10px;
}

table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    border-spacing: 0;
}

th {
    background-color: var(--bg2);
}

th, td {
    padding: .6em;
}

tr:nth-child(even) {
    background: var(--bg1);
}

tr:nth-child(odd) {
    background: var(--bg3);
}

.td-aprovado {
    color: #2e8f2e;
}

.td-reprovado {
    color: #862f2f;
}

.table-num {
    text-align: right;
}

.table-center {
    text-align: center;
}

.table-below {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: .5em;
}

.table--trash-icon {
    cursor: pointer;
    font-size: 1.5em;
}

.table--edit-icon {
    cursor: pointer;
    font-size: 1.2em;
}

.table--trash-icon:hover, .table--edit-icon:hover {
    animation: tilt-shaking 0.20s infinite;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.table--no-students {
    text-align: center;
    font-size: 1.2em;
}

@media (max-width: 600px) {
    table {
        font-size: 0.9em;
    }
}